<div class="paper">
  <div class="display">
    {{ timerService.timerEntry.hour }} : {{ timerService.timerEntry.minute }} :
    {{ timerService.timerEntry.second }}
  </div>
  <div class="actions">
    <button mat-raised-button (click)="startStop()">
      {{ titleStartStop() }}
    </button>
    <button
      mat-raised-button
      (click)="pause()"
      matTooltip="doubleclick for wait-action"
      [disabled]="!isWaitable()"
    >
      Wait
    </button>
    <button mat-raised-button (click)="reset()">Reset</button>
  </div>
  <div class="display">
    {{ timerService.timerState }}
  </div>
</div>
